/*
 * Main CSS file for Camphora Five CRUD app.
 */
.camphora-header {
    margin-top: .5rem;
}
.camphora-datagrid {
    table-layout: fixed;
}
.camphora-datagrid tr th {
    padding: 0;
}
.camphora-datagrid tr th button {
    text-transform: capitalize;
    display: block;
    margin-right: .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 2.5rem;
    line-height: 1.5rem;
    width: calc(100% - .5rem);
    margin-bottom: 0;
}
.camphora-datagrid tr th.camphora-checkbox-column {
    width: 150px;
}
.camphora-datagrid tr th button.camphora-sort-column-asc>span:after {
    padding-right: .5rem;
    font-family: 'icomoon' !important;
    content: '\ea48';
    line-height: 1rem;
}
.camphora-datagrid tr th button.camphora-sort-column-desc>span:after {
    padding-right: .5rem;
    font-family: 'icomoon' !important;
    content: '\ea49';
    line-height: 1rem;
}
.camphora-datagrid tr th.camphora-delete-header {
    width: calc(var(--form-el-pad) * 2 + 4rem);
}
.camphora-datagrid tr th.camphora-delete-header button span {
    display: block;
    transform: rotate(22.5deg);
}
.camphora-datagrid tr td {
    vertical-align: text-top;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.camphora-datagrid tr.camphora-grid-editable td {
    cursor: pointer;
}
.camphora-datagrid tr td.camphora-checkbox-column {
    text-align: right;
    font-size: 1.2rem;
    width: 50px;
}
.camphora-datagrid tr td.camphora-delete-cell {
    padding-top: 0;
    padding-bottom: 0;
    width: calc(var(--form-el-pad) * 2 + 4rem);
}
.camphora-datagrid tr td.camphora-delete-cell button {
    margin-top: -.5rem;
    margin-bottom: .5rem;
    width: calc(100% - .5rem);
}
.camphora-datagrid tr.camphora-grid-editable td div.camphora-no-pointer-cursor {
    cursor: default;
}
.camphora-datagrid tr td.camphora-pre-cell {
    white-space: pre;
}
.camphora-datagrid tr.camphora-row-is-edited td {
    background: transparent !important;
    font-weight: bold;
}
.camphora-datagrid tr.camphora-row-is-edited:hover td {
    background: rgba(0,0,0,.1) !important;
}
.camphora-datagrid tr.camphora-edit-row td {
    background: transparent !important;
    border-top: none;
}
.camphora-navbar .item.leaf>a>span.icon:before {
    content: '\e9ce';
}
.camphora-view-toolbar {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 1;
}