
/*
 * Main CSS file for Camphora Five CRUD app.
 */
.container {
    margin-bottom:150px;
}
.strip > label:first-child {
    min-width: 150px;
}
.camphora-crud-grid-wrapper {
    display:inline-block;
    width:100%;
}
.camphora-crud-grid-wrapper table tr td {
    border-top:solid 1px #fafafa;
    vertical-align:top;
    cursor:default;
}
.camphora-crud-grid-wrapper table tr:first-child td {
    border-top:none;
}
.camphora-edit-column {
    min-width:110px;
    text-align:right;
}
.camphora-edit-row,
.camphora-edit-row:hover,
.camphora-edit-row:active,
.camphora-edit-row:focus {
    background-color: transparent !important;
}
.camphora-edit-row {
    border-top:none !important;
}
.camphora-date-column {
    font-style:italic;
    color:#aaa;
}
.camphora-date-edit-item {
    font-style: italic;
    color: #aaa;
    text-align:right;
}
.camphora-sort-column:after {
    padding-left:.5rem;
    font-family:'icomoon' !important;
}
.camphora-sort-column-asc:after {
    content: '\f078';
}
.camphora-sort-column-desc:after {
    content: '\f077';
}
